@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

// variables
$font-1: "Poppins", sans-serif;
$font-2: "Paytone One", sans-serif;

$color-1: #006a4e;
$color-2: #f7f7f7;
$color-3: #282c34;

// parametres généraux

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0.4rem auto;
  max-width: 1296px;
  font-family: $font-1;
  color: $color-3;  
  background-color: $color-2;
}

h1 {
  color: $color-1;
  font-size: 9rem;
  font-family: $font-2;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: $color-1;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $color-1;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a {
  margin: 2rem;
  text-decoration: none;
  color: $color-1;
}


select {
  display: block;
  font-size: 16px;  
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%; 
  box-sizing: border-box;
  margin-top: 2rem;
  margin-bottom: 3rem;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
}